name: Exitdir E2E Tests

on:
  pull_request:
    branches:
      - main

permissions: {}

defaults:
  run:
    shell: bash
    working-directory: ./src/github.com/chainguard-dev/exitdir


jobs:
  exitdir-tests:
    name: e2e tests
    runs-on: ubuntu-latest

    permissions:
      contents: read

    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        k8s-version:
          - v1.33.x
          - v1.34.x

    env:
      GOPATH: ${{ github.workspace }}
      GO111MODULE: on
      GOFLAGS: -ldflags=-s -ldflags=-w
      KO_DOCKER_REPO: registry.local:5000/exitdir
      KOCACHE: ~/ko
      COSIGN_EXPERIMENTAL: true

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out our repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: ./src/github.com/chainguard-dev/exitdir
          persist-credentials: false

      - uses: chainguard-dev/actions/setup-mirror@f77a7c3431f961556be5a41e2602c450a590f3e5 # v1.5.12

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.25'
          check-latest: true
          cache: false

      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ${{ env.KOCACHE }}
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go-version }}-

      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
        with:
          version: v0.18.1

      - name: Setup Cluster
        uses: chainguard-dev/actions/setup-kind@f77a7c3431f961556be5a41e2602c450a590f3e5 # v1.5.12
        id: kind
        with:
          k8s-version: ${{ matrix.k8s-version }}
          registry-authority: registry.local:5000
          cluster-suffix: cluster.local

      - name: Create sample job
        run: |
          ko apply -f - <<EOF
          apiVersion: batch/v1
          kind: Job
          metadata:
            name: example
          spec:
            template:
              spec:
                restartPolicy: Never
                containers:
                  - name: leader
                    image: ko://chainguard.dev/exitdir/cmd/leader
                    env:
                      - name: EXIT_DIR
                        value: "/var/exitdir"
                    volumeMounts:
                      - name: exit-dir
                        mountPath: "/var/exitdir"
                  - name: follower
                    image: ko://chainguard.dev/exitdir/cmd/follower
                    env:
                      - name: EXIT_DIR
                        value: "/var/exitdir"
                    volumeMounts:
                      - name: exit-dir
                        mountPath: "/var/exitdir"
                volumes:
                  - name: exit-dir
                    emptyDir: {}
          EOF

      - name: Wait for job completion
        run: |
          kubectl wait --for=condition=complete --timeout=60s job/example
          kubectl logs job/example --all-containers

      - name: Collect diagnostics
        if: ${{ failure() }}
        uses: chainguard-dev/actions/kind-diag@f77a7c3431f961556be5a41e2602c450a590f3e5 # v1.5.12
        with:
          artifact-name: logs.${{ matrix.k8s-version }}
